footer {
  color: var(--text-color-secondary);
  font-weight: var(--fw-mid);


  & .container{
    padding-inline: 3rem;
  }

  & .container,
  & .top {
    gap: 3rem;
  }

  & nav.even-columns {
    /*no nave que tem even columns*/
    gap: 4rem;

  }

  & .top ul {
    /*pega cada ul da top*/
    align-content: start;
  }

  & .title {
    font-size: 0.75rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--brand-color-primary);
  }

  & .bottom {
    flex-wrap: wrap;

    &>div {
      margin-right: auto;
    }

    & span{
      font-size: .875rem;
    }
  }

  /*trabalhando o padding no desktop*/

  @media(width >=80em){
    .container{
      padding-inline: 0; /*n tem padding no desktop*/
      padding-bottom: 2rem;
    }

    & .top { /**/
      grid-template-columns: auto 1fr; /*separa em dois e deixa um automatico e outro 1fr*/

      & nav{
        margin-left: auto; /*joga os navs para o lado direito*/

        & ul{
          width: 14rem;
        }
      }
    }
  }
}