*,
*::before,
*::after {
  box-sizing: border-box;
  /*neste app a gente vai usar*/
}

* {
  /*resetar tudo*/
  margin: 0;
  padding: 0;

  font: inherit;
  /*reset de todas as fontes do nosso projeto h1, strong*/

  /*arruma a fonte para ficar mais suave*/
  -webkit-font-smoothing: antialiased;
  /* webkit motor de navegação*/
  -moz-osx-font-smoothing: grayscale;
  /*mozila*/

}

:root {

  --bg-color: #09090b;
  --surface-color: #18181B;
  --stroke-color: #27272A;
  --text-color-secondary: #A1A1AA;
  --text-color-primary: #F4F4F5;

  --brand-color-primary: #F7B733;
  --brand-color-secondary: #FC4A1A;

  --ff-sans: 'Inter', system-ui, sans-serif;
  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  /*fontes no mobile*/
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2.5rem;

  /*definindo paddings do container mobile*/
    /*padding eixo y (cima e baixo)*/
  --py-base: 1rem;
  --py-xl: 3rem;
  --py-lg: 1.5rem;

  
  /*mudam quando estão na tela maior (olhar @media)*/

  /*pading direita e esquerda (eixo x)*/
  --px-lg: 1.5rem;
  /*mobile*/

}

html {
  /*fontes padroes de todo doc*/
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.6;
  /*160%*/
  color: var(--text-color-primary);

  overflow-x: hidden; /*eixo horizontal n vai te rolagem*/

}

body {
  /*bg padrao*/
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  line-height: 1.2;
  /*120%*/
  /*se n tiver pegar no copy css*/
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  letter-spacing: -0.04em;

}

h1 {
  font-size: var(--fs-2xl);

}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);

}

a {
  /*tira decoração e herda do pai*/
  text-decoration: none;
  color: inherit;
  /*pai é ohtml*/
}

/*define o fundo do degrade no link*/
a:hover {
  background: linear-gradient(90deg,
      var(--brand-color-secondary)0%,
      var(--brand-color-primary) 100%);

  /*faça um recorte conforme o texto escrito*/
  --webkit-background-clip: text;
  background-clip: text;

  color: transparent;
  /*tira a cor do texto*/
}



/*tirando as bolinhas da ul
mas tirando para alguns navegadores perde o sentido de ser uma lista, 
entao quando colocar esse atributo role='list', ele considera como uma lista*/
ul[role="list"] {
  list-style: none;
}

/*imagem dos dois celulares na tela do smartphone*/
img {
  max-width: 100%;
  display: inline-block; /*mantem as propriedades inline e qualquer coisa coloca block para colocar outras features*/
}


/*se a largura for maior ou igual a 1280px = pega a fontsize pai (root)*/
@media(width >=80em) {

  /* = 80*16 = 1280px - 'em' busca a fonte size pai, ou seja o root, mesmo que a pessoa mude no navegador*/
  :root {

    /*mudar todas as fontes para desktop*/
    --fs-lg: 2rem;
    /*32/16*/
    --fs-xl: 3rem;
    /*48/16*/
    --fs-2xl: 4rem;
    /*64/16 */


    /*padding eixo y (cima e baixo) tela grande*/
    --py-base: 1.5rem;
    /*tela grande*/
    --py-lg: 2.5rem;
    /*tela grande*/
    --py-xl: 5rem;
    /*tela grande*/

    /*padding laterais telas grandes*/
    --px-lg: 2rem;
    /* 32px - largura tela grandes*/



  }
}