.py-base {
  /*pading em cima e baixo- tela grande*/
  padding-block: var(--py-base);
}

.py-lg {
  /*pading em cima e baixo- tela grande*/
  padding-block: var(--py-lg);
}

.py-xl {
  /*pading em cima e baixo- tela grande*/
  padding-block: var(--py-xl);
}

.px-lg{
  /*pading em cima e baixo- tela mobile*/
  padding-inline: var(--px-lg);
}

/*container do header. define aonde foi conter as coisas da pagina*/
.container {
  /*tamanho maximo-olhando mobile*/
  --max-width: 375px;


  /*calculo do padding do mobile. É vezes 2 pq é os dois lados*/
  width: min(var(--max-width), 100% - var(--px-lg) * 2); /*se ele tiver ficar menor que 375 ele vai observar o 100% e vai ficar mantendo uma largura (padding)

  /*alinhado ao centro*/
  margin-inline: auto;
  /* border: solid violet; */

}

/*por padrao ela é none, porque tudo que estou usando é padrão mobile, entao vou esconder*/
.desktop-only {
  display: none;
  
  
}

/*em tela pequena um em baixo do outro
em tela grande um do lado do outro*/
.even-columns {
  display: grid;
  gap: 1rem;
}


.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 { /*nao pode colocar ponto, entao é colocado o \ para considerar como texto*/
  gap: 1.5rem;
}

.grid {
  display: grid;
}

/*tamanho para tela grande*/
@media (width >= 80em) { /*1280px*/
  .container {
    --max-width: 80rem;

    /*1280px*/
  }

/*quando a tela for maior a div vai ser display block, ele sempre vai pegar o display inicial daquela tag especifica*
Aparecendo e sumindo em telas grandes*/
  .desktop-only {
    display: initial;
  }
}



/*em tela pequena um em baixo do outro
em tela grande um do lado do outro*/
.even-columns {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}